<!-- === BEGIN HEADER === -->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
        <div id="body_bg">
            <div class="primary-container-group"> 
                <!-- Background -->
                <div class="primary-container-background">
                    <div class="clearfix"></div>
                </div>
                <!--End Background -->
                    <div class="container no-padding">
                        <!-- === END HEADER === -->
                        <!-- === BEGIN CONTENT === -->
                        <div class="row">
                            <!-- Carousel Slideshow -->
                            <div id="carousel-example" class="carousel slide" data-ride="carousel">
                                <!-- Carousel Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example" data-slide-to="1"></li>
                                    <li data-target="#carousel-example" data-slide-to="2"></li>
                                </ol>
                                <!-- End Carousel Indicators -->
                                <!-- Carousel Images -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="assets/img/slideshow/slide1.jpg">
                                    </div>
                                    <div class="item">
                                        <img src="assets/img/slideshow/slide2.jpg">
                                    </div>
                                    <div class="item">
                                        <img src="assets/img/slideshow/slide3.jpg">
                                    </div>
                                </div>
                                <!-- End Carousel Images -->
                                <!-- Carousel Controls -->
                                <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                                <!-- End Carousel Controls -->
                            </div>
                            <!-- End Carousel Slideshow -->
                            <!-- Tabs -->
<div class="container no-padding gridgallery">
                        <!-- Portfolio Header Text -->
                        <div class="row">
                            <div class="col-md-12 padding-vert-30">
                                <h2 class="subtitle text-center">新着情報</h2>
                                <h3 class="subtitle text-center">本日も、世界の医学の最新情報をあなたにお届けします。</h3>
                            </div>
                        </div>
                        <!-- End Portfolio Header Text -->
                        <!-- Portfolio Images -->
                        <div class="portfolio-group">
                            <!-- Portfolio Item -->
                            <div class="portfolio-item col-md-3 col-sm-6 col-xs-6 animate fadeInUp">
                                <div class="image-hover">
                                    <a href="#">
                                        <figure>
                                            <%= link_to image_tag("portfolio/Soda_2-Liter_Label 2.jpg"), posts_path %>
                                            <figcaption>
                                                <h5>メキシコ　砂糖税の効果アリ！　砂糖添加飲料の消費が減少</h3>
                                                <span></span>
                                                <%= link_to '詳しく', posts_path %>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </div>
                            </div>
                            <!-- //Portfolio Item// -->
                        <!-- Portfolio Images -->
                        <div class="portfolio-group">
                            <!-- Portfolio Item -->
                            <div class="portfolio-item col-md-3 col-sm-6 col-xs-6 animate fadeInUp">
                                <div class="image-hover">
                                    <a href="#">
                                        <figure>
                                            <%= link_to image_tag("portfolio/SodaWarningLabel_Text 2.jpg"), posts_path %>
                                            <figcaption>
                                                <h5>サンフランシスコ　まるでタバコ　砂糖添加飲料にいよいよ警告文</h3>
                                                <span>Ⓒ2015 Copyright California Center for Public Health Advocacy </span>
                                                <%= link_to '詳しく', posts_path %>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </div>
                            </div>
                            <!-- //Portfolio Item// -->
                            <div class="clearfix"></div>
                        </div>
                        <!-- End Portfolio Images -->
                        <!-- Portfolio Footer Text -->
                        <div class="row">
                            <div class="col-12-md">
                                <p class="text-center padding-bottom-30" style="max-width:690px; margin:0 auto;">Mirum est notare quam littera gothica, quam nunc putamus. Cras non sem sem, at eleifend mi. Vivamus sit amet ante est, sit amet rutrum augue. Cras non sem sem, at eleifend mi. Nam liber tempor cum soluta nobis eleifend
                                    option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
                            </div>
                        </div>
                        <!-- End Portfolio Footer Text -->
                        <!-- === END CONTENT === -->
                        <!-- === BEGIN FOOTER === -->
                    </div>
                            <div class="tabs-dark" style="padding:0;">
                                <!-- Tab Navigation -->
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#home" data-toggle="tab">Home</a>
                                    </li>
                                    <li>
                                        <a href="#profile" data-toggle="tab">Jobs</a>
                                    </li>
                                    <li>
                                        <a href="#messages" data-toggle="tab">Messages</a>
                                    </li>
                                </ul>
                                <!-- End Tab Navigation -->
                                <!-- Tab Panes -->
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="home">
                                        <%= render 'psara' %>
                                    </div>
                                    <div class="tab-pane fade" id="profile">
                                        <%= render 'jobs' %>
                                    </div>
                                    <div class="tab-pane fade" id="messages">
                                        <%= render 'message2' %>

                                    </div>
                                </div>
                                <!-- End Tab Panes -->
                            </div>
                            <!-- End Tabs -->
                        </div>
                    </div>
                    
            </div>

        </div>
        <!-- JS -->
        <!-- End JS -->
<!-- === END FOOTER === -->