<h2>Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
      <div class="row margin-bottom-20 padding-5">
        <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-0">
          <%= f.email_field :email, autofocus: true, :class => "form-control" %>
        </div>
      </div>
  </div>

  <div class="form-group">
      <div class="row margin-bottom-20 padding-5">
        <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-0">
          <%= f.submit "Resend unlock instructions", :class => "form-control btn-primary" %>
        </div>
      </div>
  </div>
<% end %>

<%= render "users/shared/links" %>
