                    <div id="container_hornav" class="container no-padding">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html">
                                <img src="assets/img/logo.png" alt="Logo" />
                            </a>
                        </div>
                        <!-- End Logo -->
                        <!-- Slogan -->
                        <p class="site-slogan">A BOOTSTRAP TEMPLATE</p>
                        <!-- End Slogan -->
                        <!-- Top Menu -->
                        <div class="row">
                            <div class="hornav-block">
                                <div id="hornav" class="pull-right">
                                    <ul id="hornavmenu" class="nav navbar-nav">
                                        <li>
                                            <%= link_to "Home", static_pages_home_path %>
                                        </li>
                                        <li>
                                            <span>PSARA Institute</span>
                                            <ul>
                                                <li>
                                                    <%= link_to "プサラインスティチュート", static_pages_home_path %>
                                                </li>
                                                <li>
                                                    <%= link_to "ロゴマークの由来", static_pages_logo_path %>
                                                </li>
                                                <li>
                                                    <%= link_to "活動内容", static_pages_job_path %>
                                                </li>
                                                <li>
                                                    <%= link_to "ヴィジョン", root_path %> 
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>Blog</span>
                                            <ul>
                                                <li>
                                                    <%= link_to "Blog of Psara", blogs_path %>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <%= link_to "PSI プサラ研究所  医学ニュース", posts_path %>
                                        </li>                                        
                                        <li>
                                            <span>Products</span>
                                            <ul>
                                                <li>
                                                    <a href="#">Interviews</a>
                                                </li>
                                                <li>
                                                    <a href="#">Books</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>会員登録</span>
                                            <ul>
                                                <% if user_signed_in? %>
                                                    <li>
                                                        <%= link_to "ログアウト", destroy_user_session_path, :method => "destroy" %>
                                                    </li>
                                                <% else %>
                                                    <li>
                                                        <%= link_to "会員登録", new_user_registration_path %>
                                                    </li>
                                                    <li>
                                                        <%= link_to  "ログイン", new_user_session_path %>
                                                    </li>
                                                    <li>
                                                        <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
                                                    </li>
                                                <% end %>
                                            </ul>
                                        </li>
                                        <li>
                                            <%= link_to "お問い合わせ", inquiry_path %>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- End Top Menu -->
                    </div>